@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond");
html, body {
  margin: 0;
  padding: 0;
  background: url("https://static.pexels.com/photos/1227/night-dark-blur-blurred.jpg") no-repeat center center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

#vue {
  width: 100%;
  height: 100%;
}

.navbar {
  width: 65px;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}

.nav-btn {
  display: block;
  width: 100%;
  font-size: 30px;
  flex: 1;
  border: 0;
  align-self: center;
  color: white;
  background: none;
  transition: all 0.3s;
  cursor: pointer;
  outline: 0;
  position: relative;
}
.nav-btn span {
  position: absolute;
  left: 75%;
  opacity: 0;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
}
.nav-btn:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: inset 5px 0px 0px teal;
}
.nav-btn:hover span {
  left: 105%;
  opacity: 1;
  transform: rotate(-10deg);
}
.nav-btn.active {
  background: teal;
  transition: all 0.5s;
}
.nav-btn.active:hover {
  box-shadow: none;
}

.nav-btn:nth-last-child(n+5):first-child, .nav-btn:nth-last-child(n+5) ~ .nav-btn {
  font-size: 25px;
}

#main-wrapper {
  width: calc(100% - 65px);
  height: 100%;
  overflow: scroll;
  position: fixed;
  left: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: 'Cormorant Garamond',serif;
  text-transform: lowercase;
  color: white;
  font-size: 50px;
  align-self: flex-end;
  opacity: 0.5;
  letter-spacing: 10px;
  margin: 0;
}
h1:after {
  content: '.';
}

.ghost {
  animation: ghost 6s ease-in-out infinite;
}

@keyframes ghost {
  0%, 100% {
    opacity: 0;
    text-shadow: 0px 0px 15px white;
  }
  50% {
    opacity: 1;
    text-shadow: 0px 0px 1px white;
  }
}
#preview {
  position: fixed;
  bottom: 0;
  width: calc(100% - 65px);
  line-height: 30px;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.2), transparent);
  text-align: center;
  left: 65px;
  font-family: sans-serif;
  letter-spacing: 2px;
  text-transform: lowercase;
  color: transparent;
  text-shadow: 0px 0px 1px white;
}

.heading-enter-active, .heading-leave-active {
  transition: all 0.5s;
}

.heading-enter, .heading-leave-active {
  opacity: 0;
  margin-left: 30px;
}

.coming-soon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: absolute;
}

#sm-trigger {
  display: none;
  color: white;
  position: absolute;
  left: 100%;
  height: 100%;
  font-size: 35px;
}
#sm-trigger span {
  cursor: pointer;
  display: block;
  width: 80px;
  line-height: 80px;
  background: black;
  text-align: center;
}

@media screen and (max-width: 800px) {
  #sm-trigger {
    display: block;
  }

  .navbar {
    width: calc(100% - 80px);
    left: calc(-100% + 80px);
    background: #222;
    z-index: 2;
    transition: all 0.3s;
  }
  .navbar.open {
    left: 0;
  }
  .navbar .nav-btn:nth-child(n+3) {
    border-top: 1px solid white;
  }
  .navbar .name {
    display: none;
  }
}
